{% extends "layout.html" %} 

{% block head %} 
<title>Home Page</title>
{% endblock %} 

{% block body %} 
<div>
    <div>
        <form method="post" action={% url 'polls:index' %}>
            {% csrf_token %} 
            <input type="text" name="q" />
            <button type="submit">Search</button>
        </form>
        <br>
        <a href="{% url 'polls:question_create' %}"><button type="button">Create Question</button></a>
    </div>
    <hr>
    <ul>
        {% for question in questions %}
            <li><a href={% url 'polls:question_details' question.id %}>{{ question.title }}</a></li>
        {% empty %} 
            <p>No questions available at the moment...</p>
        {% endfor %} 
    </ul>
</div>
{% endblock %} 