{% extends 'layout.html' %} 

{% load static %}



{% block head %} 
<title>Profile</title>
<style>
    img {
        height: 200px; 
        width: 200px;
        border-radius: 50%;
        border: 5px solid orange
    }
    img:hover {
        border: 10px solid orange

    }
</style>
{% endblock %} 


{% block body %} 
<b>{{ user.username }}'s Profile</b>
<hr>
<p>
    <b>Profile Photo:</b>
    <div>
        <a href="{% static user.image.url %}"><img src="{{ user.image.url }}" alt="User Image"/></a>
    </div>
</p>
<p>
    <b>Email:</b> {{ user.email }}
</p>
<p>
    <b>First Name:</b> {{ user.first_name }} 
</p>
<p>
    <b>Last Name:</b> {{ user.last_name }}
</p>
{% if request.user.is_authenticated %} 
    {% if request.user == user %} 
        <a href="{% url 'polls:user_update' user.username %}"><button type="button">Edit Profile</button></a>
    {% endif %} 
{% endif %} 
{% endblock %} 